name: Helm

on:
  push:
    branches:
      - main
    paths:
      - "deploy/charts/**"
  pull_request:
    paths:
      - "deploy/charts/**"
  workflow_dispatch:

env:
  HELM_VERSION: "v3.10.2"

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Run chart-releaser
        id: chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          charts_dir: deploy/charts
          skip_existing: "true"
          pages_branch: gh-pages
          packages_with_index: true
          mark_as_latest: false
